@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@theme inline {
  --font-sans: "Inter", sans-serif;
  --font-mono: var(--font-geist-mono);
  --animate-spin-slow: spin-slow 8s linear infinite;
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  font-family: "Inter", sans-serif;
}
